body {
  color: $text-color;
  font-size: 16px;
  font-weight: 200;
}

.wrapper {
  .wrapperBody {
    a {
      color: $text-color;
      
      &:hover, &:focus, &:active {
        color: darken($text-color, 50%);
        text-decoration: none;
      }
      
      span {
        font-weight: 700;
      }
    }
    
    .yellowBox {
      background-color: $yellow;
      margin: 20px auto;
      padding: 10px;
      
      span {
        font-weight: 700;
      }
    }
    
    .bottomYellowBox {
      padding: 20px;
      
      span {
        font-size: 21px;
      }
      
      .yellowContent {
        padding-left: 20px;
        width: calc(100% - 79px);
      }
    }
    
    .slider {
      margin-bottom: 10px;
      position: relative;
      width: 100%;
      
      .menuSlider {
        //background-color: red;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 50;
        
        .leftRight {
          background-color: rgba(255, 255, 255, 0.25);
          color: $white;
          font-size: 50px;
          font-weight: 100;
          padding: 10px;
          text-align: center;
          top: 40%;
        }
        
        .sliderContent {
          //background-color: pink;
          top: 25%;
        }
        
        .sliderContent .sliderText {
          background-color: rgba(255, 255, 255, 0.9);
          padding: 20px;
          width: 50%;
        }
        
        .sliderContent .sliderText .top {
          font-weight: 700;
          font-size: 51px;
        }
        
        .sliderContent .sliderText .mid {
          font-weight: 700;
          font-size: 32px;
        }
        
        .sliderContent .sliderText p {
          font-size: 21px;
          margin-top: 20px;
        }
        
        .circles {
          top: 35%;
          ul li {
            color: $white;
            display: inline-block;
            list-style: none !important;
          }
          
          ul li.active {
            color: $yellow;
          }
        }
      }
      
      .menuSlider.row {
        margin: 0;
      }
      
      .col-md-12 {
        bottom: 0;
        position: relative;
        text-align: center;
      }
    }
    
    .content .thumb figure {
      margin: 20px auto;
      
      img {
        width: 100%;
      }
      
      figcaption {
        margin-top: 10px;
      }
    }
  }
  
  .wrapperFooter {
    border-top: 2px solid $yellow;
    padding: 10px;
    text-align: center;
    
    ul li {
      display: inline-block;
      list-style: none;
      margin: auto 20px;
    }
  }  
}